form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
}

input[type="text"],
select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* input[type="file"] {
    display: none;
} */

input[type="file"]+label {
    display: inline-block;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #005fa3;
}