/*Welcome page css*/
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.quote {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

.author {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.button-container {
  display: flex;
  margin-top: 50px;
  gap: 1rem;
}

/*Form CSS*/
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 40%;
  margin: 0 auto;
  padding: 2rem;
}

form>h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 7px 7px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 5px;
}

.alert-container {
  margin: auto 0;
  position: fixed;
  top: 12px;
  left: 50%;
  translate: -50%;
  z-index: 9999;
  width: 33vh;
}

.alert-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #f8d7da;
  color: #721c24;
  font-size: 16px;
  font-weight: 500;
}

.alert-text {
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.alert-close-button {
  position: absolute;
  cursor: pointer;
  right: 10px;
}

/*Mobile CSS*/
@media screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}