.add-icon {
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.home-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.icon-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

/*Mobile CSS*/
@media screen and (max-width: 768px) {
    .home-div {
        gap: 1rem;
    }
}