.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  background-color: var(--primary-dark);
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav img {
  width: 50px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  background-color: rgb(150, 3, 3);
  border: none;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

}