.application-list-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.no-applications{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}