@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

:root {
  --primary: #08202b;
  --primary-light: #1073a1;
  --btn-primary: rgb(0, 82, 0);
  --btn-secondary: rgb(203, 203, 1);
  --container-top-m: 30px
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--primary);
  color: rgb(219, 206, 206);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: white;
}

.btn-primary:hover{
  background: rgb(14, 120, 14);
  scale: 1.05;
  transition: ease-in-out 1ms;
}

.btn-secondary {
  background-color: var(--btn-secondary);
  color: black;
}

.btn-secondary:hover{
  background: rgb(189, 189, 65);
  scale: 1.05;
  transition: ease-in-out 1ms;
}

a {
  text-decoration: none;
  color: white;
}

.link {
  text-align: center;
  cursor: pointer;
  font-weight: 300;
}

.link:hover {
  color: var(--btn-secondary);
}

/*Mobile CSS*/
@media screen and (max-width: 768px) {
  .btn{
    padding: 5px 10px;
    font-size: 14px;
  }
}